<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EnabledGalleryLoaders" value="
			VMCreate.Gallery.Ubuntu,
			VMCreate.Gallery.LoadFromLocalJsonFile,
			VMCreate.Gallery.BlackArch,
			VMCreate.Gallery.LoadFromMicrosoftURI,
			VMCreate.Gallery.LoadFromRegistry,
			VMCreate.Gallery.LoadKaliCurrent,
			VMCreate.Gallery.LoadFromGNS3GitHub,
			VMCreate.Gallery.LoadParrotHome,
			VMCreate.Gallery.LoadParrotSecurity,
			VMCreate.Gallery.ClearLinux,
			VMCreate.Gallery.LoadFedoraSecurityLab,
			VMCreate.Gallery.FedoraSilverblue,
			VMCreate.Gallery.LoadPentooCurrent,
			VMCreate.Gallery.NixOS,
			VMCreate.Gallery.PwnCloudOS,
			VMCreate.Gallery.Arch" />
	</appSettings>
</configuration>